<% if resource.errors.any? %>
  <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
      <% resource.errors.full_messages.each do |message| %>
        <span class="small-warning"><%= message %> </span><br/>
      <% end %>
     </div>
  </div>
<% end %>


