<hr />
<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>MO™ My Organizer, by <a href="https://twitter.com/mcnikkop" target="_blank" rel="noopener noreferrer">@mcnikkopinlac</a></p>
    </div>
</footer>